.input-wrapper {
  @apply mb-6;
}

input[type='password'],
input[type='email'],
input[type='text'],
select,
textarea,
button[type='submit'] {
  @apply outline-none rounded leading-tight;
}

input[type='password'],
input[type='email'],
input[type='text'],
select,
textarea {
  @apply border bg-white;

  &:focus {
    @apply border-gray-700 shadow-outline;
  }
}

input[type='password'],
input[type='email'],
input[type='text'],
button[type='submit'] {
  @apply p-4 w-full block;
}

button[type='submit'] {
  transition: background-color 0.1s ease, box-shadow 0.2s ease;
  @apply rounded bg-green text-white border border-green;

  &:not(.locked):hover {
    @apply bg-green-400 shadow-md;
  }
}

input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  text-indent: -9999;

  + label {
    display: flex;

    @apply select-none;

    &::before {
      height: 24px;
      width: 24px;
      content: '';
      display: inline-flex;
      align-self: flex-start;
      margin-right: 15px;
      transition: border 0.1s ease, background-image 0.1s ease;

      @apply border rounded;
    }
  }

  &:focus {
    + label {
      &::before {
        @apply shadow-outline;
      }
    }
  }

  &:checked {
    + label {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%231DE278' d='M18.71 7.21a1 1 0 0 0-1.42 0l-7.45 7.46-3.13-3.14A1 1 0 1 0 5.29 13l3.84 3.84a1 1 0 0 0 1.42 0l8.16-8.16a1 1 0 0 0 0-1.47z'/%3E%3C/svg%3E");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 16px;

        @apply border-green;
      }
    }

    &:focus {
      + label {
        &::before {
          @apply shadow-green-outline;
        }
      }
    }
  }
}

select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23909090' d='M17 9.17a1 1 0 0 0-1.41 0L12 12.71 8.46 9.17a1 1 0 0 0-1.41 0 1 1 0 0 0 0 1.42l4.24 4.24a1 1 0 0 0 1.42 0L17 10.59a1 1 0 0 0 0-1.42z'/%3E%3C/svg%3E");
  background-position: center right 6px;
  background-repeat: no-repeat;
  background-size: 20px;

  @apply appearance-none pl-3 pr-10 py-2 ml-4;
}
